.produk-card{
  min-height: 230px;
  width: 100%!important;
  background-size: cover!important;
  color: white!important;
}

.produk-card .card-title{
  color: white!important;
}

.form-group{
  margin-bottom: 5px;
}

.btn-beli{
  margin-top: 10px;
}